<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

 <main>

     {# ma boucle for permet de passer sur chaque elements de mon tableau #}
     {% for agent in agents %}
        {# ma condition me permet d'afficher que les agents publiés #}
        {% if agent.published %}
         {# pour afficher le contenu de mon tableau  #}
            <h1><a href ="{{ path('agentShow',{ 'id':agent.id }) }}">{{ agent.lastName}} {{ agent.firstName}} {{ agent.age }}</a></h1>
        {% endif %}
     {% endfor %}
 </main>

</body>
</html>