<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<main>

    <h1>{{ agent.lastName}} {{ agent.firstName}} {{ agent.age }}</h1>

</main>

</body>
</html>