<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

 <main>

     {% for agents in agents %}
         {#pour faire des commentaires avec twig#}
        {% if agents.published == true %}
         {# pour integrer du php dans un fichier twig html #}
             <h1>{{ agents.lastName}}</h1>
             <h2>{{ agents.firstName}}</h2>
             <h3>{{ agents.age }}</h3>
             <h4>{{agents.published }}</h4>

         {% endif %}
     {% endfor %}
 </main>

</body>
</html>